BasedOnStyle: WebKit
IndentWidth: 4

ColumnLimit: 80
AccessModifierOffset: -4

BreakBeforeBraces: Attach

AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AlignCaseColons: true

AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false

BreakTemplateDeclarations: Yes